*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --disc-hbg: #d8d9db;
    --disc-fbar: #4d4d51;
    --disc-hel: #d9817d;
    --disc-mbg: #95a8e3;
    --disc-fbg: #4574fe;
    --disc-s1_3: #ffffff;
    --disc-s2_4: #e8e6e6;
    --disc-jbx: #abaebd;
}

header{
    background-color: var(--disc-hbg);
    height: 70px;
}

.flex_bar{
    background-color: var(--disc-fbar);
    min-height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    max-width: 1170;
    margin: auto;
}

.logo, nav, .button{
    background-color: var(--disc-hel);
    height: 30px;
    border-style: dashed;
    padding: 0.2rem 0;
}

.logo, .button{
    width: 25%;
}

nav{
    width: 50%;
    text-align: center;
}

.button{
    text-align: end;
}

.jtbx_container{
    background-color: var(--disc-mbg);
    min-height: 400px;
    display: flex;
}

.jumbotron{
    width: 40%;
    border-radius: 40px;
    min-height: 200px;
    background-color: var(--disc-jbx);
    margin: 50px auto;
}

section{
    min-height: 500px;
    padding-top: 50px;
}

.invite, .fandom{
    background-color: var(--disc-s1_3);
    
}

.hangout, .videocall{
    background-color: var(--disc-s2_4);
}

.container, .container_big, .container_foot{
    background-color: #fadb9f;
    width:80%;
    margin: auto;
    padding: 15px 0;
}

.container{
    min-height: 300px;
}

.container_big{
    min-height: 400px;
    padding-bottom: 30px 0;
}

.row{
    background-color: #cec3ab;
    min-height: 270px;
    display: flex; 
    width:100%
}

.col_big, .col_small{
    margin-top: 0.5rem;
    border-width: 3px;
    border-style: dotted;
    height: 250px;
    background-color: #8fe2aa;
}

.col_big{
    width: 60%;
}

.col_small{
    width:40%;
}

footer{
    background-color: var(--disc-fbg);
    min-height: 400px;
    padding: 10px 0;
}

.container_foot{
    min-height: 350px;
    display: flex;
    flex-direction: column;
}

.row_foot{
    background-color: #cec3ab;
    min-height: 350px;
    display: flex; 
    width:100%;
    justify-content: space-around;
    align-items: center;
}

.col_fbig{
    width: 25%;
    background-color: #8fe2aa;
    border-style: dashed;
    height: 250px;
}

.col_fsmall{
    width: calc(70%/4);
    background-color: #fadb9f;
    border-style: dashed;
    height:250px;
}

.deco{
    background-color: #4d4d51;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width:100%;
    margin: auto;
}